<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contexts</key>
	<dict>
		<key>double_quoted_string</key>
		<array>
			<dict>
				<key>meta_scope</key>
				<string>string.quoted.double.beluga</string>
			</dict>
			<dict>
				<key>match</key>
				<string>\\.</string>
				<key>scope</key>
				<string>constant.character.escape.beluga</string>
			</dict>
			<dict>
				<key>match</key>
				<string>"</string>
				<key>pop</key>
				<true/>
				<key>scope</key>
				<string>punctuation.definition.string.end.beluga</string>
			</dict>
		</array>
		<key>line_comment</key>
		<array>
			<dict>
				<key>meta_scope</key>
				<string>comment.line.beluga</string>
			</dict>
			<dict>
				<key>match</key>
				<string>$</string>
				<key>pop</key>
				<true/>
			</dict>
		</array>
		<key>main</key>
		<array>
			<dict>
				<key>match</key>
				<string>"</string>
				<key>push</key>
				<string>double_quoted_string</string>
				<key>scope</key>
				<string>punctuation.definition.string.begin.beluga</string>
			</dict>
			<dict>
				<key>match</key>
				<string>%</string>
				<key>push</key>
				<string>line_comment</string>
				<key>scope</key>
				<string>punctuation.definition.comment.beluga</string>
			</dict>
			<dict>
				<key>match</key>
				<string>\b(let|rec|case|FN|fn|mlam|of|in|type)\b</string>
				<key>scope</key>
				<string>keyword.control.beluga</string>
			</dict>
			<dict>
				<key>match</key>
				<string>\b(=&gt;|=|;|\||-&gt;|&lt;-)\b</string>
				<key>scope</key>
				<string>keyword.control.beluga</string>
			</dict>
		</array>
	</dict>
	<key>file_extensions</key>
	<array>
		<string>bel</string>
	</array>
	<key>name</key>
	<string>Beluga</string>
	<key>scope</key>
	<string>source.bel</string>
</dict>
</plist>
